[Desktop Entry]
Encoding=UTF-8
Name=Scryptic
Comment=Scryptic P2P Cryptocurrency
Comment[ru]=Scryptic, P2P криптовалюта
Comment[fr]=Scryptic, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Scryptic, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Scryptic-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/Scryptic80.xpm
MimeType=x-scheme-handler/Scryptic;
Categories=Office;
