[Unit]
Description=Scryptic daemon serivce
After=network.target

[Service]
Type=simple
User=Scryptic
ExecStart=/opt/Scryptic/Scrypticd

[Install]
WantedBy=multi-user.target
